doc/
src/
tsconfig.json
build.bat
build.sh
package-lock.json
node_modules/
.DS_Store
Thumbs.db
*.vsix
.env
.vscode/
coverage/
.nyc_output/
dist/
temp/
tmp/
.git/
*.log
*.lock
.yarn/
.npm/
docs/
*/build/
*/build/*
**/build/**
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll
*.so
*.dylib
*/CMakeFiles/
**/CMakeFiles/**
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
*.cmake
compile_commands.json
**/*.exe
**/a.out
**/a.exe
**/cpp-primer-5th-edition-buddy-web.png
**/cpp-primer-5th-edition-buddy.png
